<div class="main-sidebar">
            <aside id="sidebar-wrapper">
            <div class="sidebar-brand">
              <a href="https://videotron.digitaldev.id/content">VideoTron</a>
            </div>
            <div class="sidebar-brand sidebar-brand-sm">
              <a href="index.html"></a>
            </div>
            <ul class="sidebar-menu">
                <li class="menu-header">Dashboard</li>
                  
                  <li class=""><a class="nav-link" href="https://videotron.digitaldev.id/content"><i class="fas fa-desktop"></i><span>Setting Content</span></a></li>
                  <li class="active"><a class="nav-link" href="https://videotron.digitaldev.id/tokoModern"><i class="far fa-hospital"></i><span>Toko Modern</span></a></li>
                  <li class=""><a class="nav-link" href="https://videotron.digitaldev.id/bapok"><i class="fas fa-carrot"></i><span>Bapok</span></a></li>
                  <li class=""><a class="nav-link" href="https://videotron.digitaldev.id/pangkalan"><i class="fas fa-gas-pump"></i><span>Pangkalan</span></a></li>
                  
                </li>
                
              </ul>
              <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
                <a href="https://videotron.digitaldev.id" class="btn btn-primary btn-lg btn-block btn-icon-split">
                  <i class="fas fa-map"></i> Lihat GIS
                </a>
                <a href="https://videotron.digitaldev.id/logout" class="btn btn-danger btn-lg btn-block btn-icon-split">
                  <i class="fas fa-sign-out-alt"></i> Logout
                </a>
              </div>
          </aside>
      </div>