<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>Product data</h1>
        </div>
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body table-responsive">
                            <a href="product/create" class="btn btn-info mb-2">Add</a>
                              <table class="table table-hover datatable">
                                    <thead>
                                        <tr>
                                            <th>Product Name</th>
                                            <th>Price</th>
                                            <th>Stock</th>
                                            <th style="width: 100px">action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {{#each data}}
                                        <tr>
                                            <td>{{this.name}}</td>
                                            <td>{{this.price}}</td>
                                            <td>{{this.stock}}</td>
                                            <td>
                                                <a href="/product/{{this.id}}" class="btn btn-icon btn-sm btn-warning"><i class="fas fa-edit"></i></a>
                                                <a href="https://videotron.digitaldev.id/tokoModern/3/delete" class="btn btn-icon btn-sm btn-danger"><i class="fas fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    {{/each}}
                            
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>
</div>

